*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Merriweather', serif;
}

h1{
    color: #53bc9d;
    font-size: 100px;
    font-family: 'Sacramento', cursive;
}

p{
    color: #53bc9d;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
}


h2,h3{
    font-family: 'Montserrat', sans-serif;
}
h3{
    color:#056e4f;
    text-align: center;
    text-decoration: solid;
    font-size: 34px;
}
.top-container{
    background-color: #e0ebe8;
    padding-top: 100px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

#cloud-top{
    position: absolute;
    right: 600px;
    top:30px;
}

#cloud-down{
    position: absolute;
}
.top-pane{
    margin-top:20px;
    display: flex;
    width:100%;
    height: 10vh;
    position: relative;
    overflow:hidden;
    scroll-behavior: ;
}
.three-links{
    margin-top: .25em;
    margin-left: auto;
    margin-right: 30px;
}

.three-links>a{
    text-decoration: none;
    color: inherit;
    color:#53bc9d;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
    font-size: 40px;
}
.profile-pic{
    position:absolute;
    margin-left: 30px;
    margin-bottom: 30px;
    display: inline-block;
    float: left;
}
.profile-pic>img{
    width: 95px;
    height: 95px;
    border-radius: 50%;
    background-color: rgb(209, 247, 234);
   margin-bottom: 20px;
}

#section-hi-pic{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    float:inline-start;
    background-color: #e1f7f0;
    padding: 20px;
}

.hi{
    height: 70vh;
    width: 70vh;
    
    text-align: center;
    margin: 20px auto;
}
.inside-hi{
    display: block;
    margin-top:40px;
}
.inside-hi>p{
    font-size:28px;
    text-align: center;
    margin-top: 40px;
}
.what-can-i-do{
    height: 70vh;
    width: 70vh;
    text-align: center;
    margin: auto;
}
#section-can-pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.what-can-i-do p{
    font-size:30px;
    text-align: center;   
}
.what-can-i-do h4{
    color: #056e4f;
    font-size: 32px;
    font-family: Haettenschweiler;
}
.what-can-i-do .can-do-section1{
    display: flex;
    
}
.what-can-i-do .can-do-section2{
    display: flex;
    margin: 20px;
}

.i-can-help{
    height: 50vh;
    width: 50vh;
    text-align: center;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}
.i-can-help>p{
    font-size:30px;
    text-align: center; 
}
.i-can-help>h4{
    color: #53bc9d;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    margin: 20px auto;
}
.i-can-help>button{
    background-color: #056e4f;
    border-radius: 15px;
    border: none;
    font-size: 24px;
    padding:30px;
    color: #e0ebe8;
    margin-top: 40px;
}